<html lang="en">
<head>
    <link rel="stylesheet" href="essentials.css">
    <link rel="stylesheet" href="header.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFUPM Swap</title>
</head>
<body>
    <header> <!-- Header starts HERE -->
        <p class="title">
            KFUPMSwap
        </p>
    </header>

    <main> <!-- Main starts HERE -->

    </main>

    <footer> <!-- Footer starts HERE -->
        <p class="footerInfo">
            This website was made by Turki Ajab, 2024.
        </p>
    </footer>
</body>
</html>